.paginationWrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    list-style: none;
  
    @media (max-width: 1024px) {
      gap: 16px;
    }
  }
  
  .pageLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .paginationItem {
    .pageLink {
      color: #b1b1b1;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      font-style: italic;
      font-weight: 700;
      outline: none;
    }
  }
  
  .paginationItem:hover {
    .pageLink {
      color: #2c2c2c;
    }
  }
  
  .arrow:hover {
    opacity: 0.7;
    &.white {
      background-color: #fff;
      .arrowIcon {
        filter: none;
      }
    }
  }
  
  .paginationItemActive {
    .pageLink {
      color: #2c2c2c;
    }
  }
  
  .disable {
    opacity: 0.3;
  }
  
  .break {
    color: #b1b1b1;
  }
  