@import "../../common/common-variable.scss";

.container {
  padding-left: calc($navigation-width + 10px);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.headerContainer {
  margin: 12px;
  // margin-top: 62px;
  border-style: solid;
  border-width: 0.3px;
  border-color: #cecece;
  height: 130px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 50px;
}

.gridLayout {
    display: grid;
    grid-template-columns: 370px 1fr;
    /* border-style: solid; */
    height: 100px;
}

.menu {
  border-style: solid;
  border-width: 0.3px;
  border-color: #cecece;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  padding-bottom: 40px;
  height: 270px;
}

.item {
  height: 38px;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2C2C2C;
  font-size: 14px;
  border-left: none;
  border-right: none;
  transition: 0.4s;
}

.item:hover {
  background-color: #e8e8e8;
}

.content-section {
  border-style: solid;
  border-width: 0.3px;
  border-color: #cecece;
  border-radius: 10px;
  margin-right: 12px;
}

.classInforSection {
  width: 100%;
  display: grid;
  grid-template-columns: 70px 1fr;
  margin-top: 12px;
  margin-bottom: 20px;
}

.classInforSectionBackBtn {
  // height: 28px !important;
  // width: 44px !important;
  padding: 0px 18px;
  // padding: 0px;
  border-radius: 4px;
  margin-top: 4px;
}