@import '../../common/common-variable.scss';

.container {
    padding-left: $navigation-width;
}

.leftNav {
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50px;
    left: 0px;
    height: calc(100vh - 50px);
    width: $navigation-width;
    background-color: #ffffff;
    overflow-y: auto;
}

.logo {
    height: 80px;
    width: 90%;
    margin: 10px 5%;

}

.leftNav a {
    display: flex;
    color: #2C2C2C;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    height: 50px;
    width: 100%;
    align-items: center;
    padding-left: 15px;
    transition: 0.5s;
    cursor: pointer;
}


.leftNav a:hover {
    /* border-radius:15px; */
    background-color: rgb(245, 245, 245);
}

.leftNav #class-room-icon {
    height: 15px;
    color: #ffffff;
}

.leftNav a::before {
    content: "";
    position: absolute;
    height: 50px;
    width: 5px;
    right: 0px;
    transition: 0.5s;
    background-color: #2C2C2C;
    opacity: 0;
}

.leftNav .highlight::before {
    opacity: 1;
}

.highlight {
    background-color: rgb(243, 243, 243);
}
